@import '../../../assets/sass/variables/_colors.scss';

$products: (
    wrapper: wrapper,
    container: container,
    name: name,
    image: image
);

@each $key, $product in $products {
    .product-#{$product} {
        color: $newbtnOrange;
        margin: 15px;
        
    }    
}

@each $name in 'title' 'change' {
    .library-#{$name} {
        margin: 10px * 1.5;
        color: $green;
    }
}

//for Book.js
.book-wrapper {
    margin: 10px;
}