$imobile-min-width-portrait: 320px;
$imobile-max-width-portrait: 360px;
$mobile-max-width-portrait: 414px;
$imobile-min-width-landscape: 568px;
$imobile-max-width-landscape: 640px;
$mobile-max-width-landscape: 736px;

$tablet-width: 768px;
$desktop-width-medium: 1024px;
$desktop-width-large: 1115px;
$desktop-width-small: 915px;
$desktop-extra-small: 500px;
$desktop-mid-small: 615px;
$notebook-width: 815px;

/*320px to 360px*/
@mixin small-phone-portrait {
    @media (min-width: #{$imobile-min-width-portrait}) and (max-width: #{$imobile-max-width-portrait - 1}) {
         @content;
    }
}
/*568px to 640px*/
@mixin small-phone-landscape {
    @media (min-width: #{$imobile-min-width-landscape}) and (max-width: #{$imobile-max-width-landscape - 1}) {
        @content;
    }
}
/*360px to 414px*/
@mixin average-phone-portrait{
    @media (min-width: #{$imobile-max-width-portrait}) and (max-width: #{$mobile-max-width-portrait}) {
        @content;
    }
}

/*640px to 736px*/
@mixin average-phone-landscape{
    @media (min-width: #{$imobile-max-width-landscape}) and (max-width: #{$mobile-max-width-landscape}) {
        @content;
    }
}
/*568px to 736px*/
@mixin mobile-tab {
    @media (min-width: #{$imobile-min-width-landscape}) and (max-width: #{$mobile-max-width-landscape}) {
        @content;
    }
}

/*===========================================================================================================*/
/*320px to 768px*/
@mixin mobile {
    @media (min-width: #{$imobile-min-width-portrait}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

/*320px to 568px */
@mixin mobile-medium {
    @media (min-width: #{$imobile-min-width-portrait}) and (max-width: #{$imobile-min-width-landscape - 1px}) {
        @content;
    }
}
/**from 568px to 1024px  landscape*/
@mixin mobile-landscape {
    @media (min-width: #{$imobile-min-width-landscape}) and (max-width: #{$desktop-width-medium - 1px}) and (orientation:landscape) {
        @content;
    }
}

/*from 768px to 1024px **/
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width-medium - 1px}) {
        @content;
    }
}

/*up to 1024px  landscape*/
@mixin tablet-landscape {
    @media (max-width: #{$desktop-width-medium}) and (orientation:landscape) {
        @content;
    }
}
/*******************************************************************************/
/*UP TO 500px*/
@mixin desktop-extra-small {
    @media (max-width: #{$desktop-extra-small - 1px}) {
        @content;
    }
}

/*FROM 815px to 915px*/
@mixin desktop-small {
    @media (min-width: #{$notebook-width}) and (max-width: #{$desktop-width-small - 1px}) {
        @content;
    }
}

/*FROM 815px to 915px  landscape*/
@mixin desktop-small-landscape {
    @media (min-width: #{$notebook-width}) and (max-width: #{$desktop-width-small - 1px}) and (orientation:landscape) {
        @content;
    }
}

/*from 915px to 1024px*/
@mixin desktop-medium {
    @media (min-width: #{$desktop-width-small}) and (max-width: #{$desktop-width-medium - 1px}) {
        @content;
    }
}

/*from 1024px to 1115px*/
@mixin desktop {
    @media screen and (min-width: #{$desktop-width-medium}) and (max-width: #{$desktop-width-large - 1px}) {
        @content;
    }
}
/*FROM 768px TO 815px*/
@mixin notebook {
    @media (min-width: #{$tablet-width}) and (max-width: #{$notebook-width - 1px}) {
        @content;
    }
}
