.app-main-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    .app-main-container {
        width: 100%;
        height: 100%;
    }
}